/*All products page*/

/*
.allproducts-productcards-top {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.allproducts-productcards-top h1 {
    float: left;
    margin-left: 60px;
    font-size: 50px;
    color: #0A3641;
}
.allproducts-productcards-top .filterbutton {
    float: right;
    height: 40px;
    width: 75px;
    margin-top: 50px;
    margin-right: 60px;
    background-color: #0A3641;
    box-shadow: none;
    color: white;
    border-radius: 5px;
    border:solid 1px #0A3641;
    font-weight: bolder;

    &:hover {
        background-color: white;
        color: #0A3641;
        border:solid 1px white;
    }
}
.allproducts-productcards {
    margin-bottom: 150px;
}
.product-price-shopping {
    height: 20px;
}
.filters{
    display: inline-flex;
    align-items: center;
    margin-right: 60px;
    gap: 30px;
}
#genderFilter {
    background-color: #0A3641;
    border-radius: 5px;
    color: white;
    border: solid 2px #0A3641;
}
#colorFilter {
    background-color: #0a3641;
    border: solid 2px #0A3641;
    border-radius: 5px;
    color: white;
}
.productHolder{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.9vw;
    margin-top: 25px;
    margin-left: 60px;
    margin-right: 60px;

    .card a img{
        height: 320px;
        width: 275px;
        object-fit: contain;

        &:hover {
            object-fit: cover;
        }
    }
    
    .card {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        width: 285px;
        text-align: center;
        height: 475px;
        border-radius: 5px;
        gap: 0.9vw;
        transition: 0.3s;
        background: white;
        border: 5px solid #3D626B;
    
        &:hover {
            transform: scale(1.07);
            border: 5px solid #0A3641;
        }

        .card a {
            text-decoration: none;
        }
    
        .cardText {
            color: #0A3641;
            text-decoration: none;
            border-top: 5px solid #0A3641;
        }
    
        .categoryText{
            font-weight: 400px;
            opacity: 0.7;
            line-height: 0px;
        }
        .productTitle {
            font-size: 22px;
            font-weight: bold;
        }
        .product-invisible-filter {
            opacity: 0;
        }
    }

    .product-price-shopping {
        display: flex;
        align-items: flex-end;
        font-size: large;
        justify-content: center;
        gap: 15px;
        line-height: 0px;
    }
    .product-price-shopping i {
        line-height: 0px;
    }
}

/*Product Detail page*/
.productdetailcontainer {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 200px;
    width: 100%;
}
.bottom-buttons {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
}
.priceText {
    margin-top: 200px;
}
.choose-color {
    display: inline-flex;
    gap: 10px;
    align-items: center;
}
.colorCircle {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50px;
}
.productinfo {
    width: 600px;
}
.productinfo h3 {
    font-size: 30px;
}
.descText {
    font-size: 22px;
}
.RPTitle {
    margin-top: 160px;
    font-size: 30px;
    color: #0A3641;
}
#containerdetail{
    margin-top: 0px;
    color: #0A3641;

    .productTitle {
        font-size: 65px;
        line-height: 0px;
    }

    .categoryText {
        font-size: 25px;
    }

    .priceText {
        font-size: 45px;
        font-weight: bold;
    }

    .top-bottom-parts {
        display: inline-flex;
    }

    .top-part {
        display: inline-flex;
        gap: 120px;
    }

    .detail-all-photos {
        display: inline-flex;
        justify-content: center;
        background-image: url(/pictures/jackettexture.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 2px;
        height: 650px;
        padding: 10px;
    }

    .detail-all-photos img {
        width: 450px;
        height: 650px;
        object-fit: contain;
        border-radius: 2px;
        background-color: white;
    }

    .mini-pictures {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        border-radius: 2px;
        justify-content: space-between;
    }

    .mini-pictures img {
        height: 190px;
        object-fit: contain;
        background-color: white;
        width: 120px;
    }
}
.recommendedProductsContainer {
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 60px;
}
.recommendedProductsCard {
    height: 450px;
    width: 275px;
    align-items: center;
    text-align: center;
    background-color: white;
    border: solid 5px #3D626B;
    border-radius: 2px;

    &hover {
        border: solid 5px #0A3641;
    }
}
.recommendedProductsCard img {
    height: 320px;
    width: 275px;
    object-fit: contain;

    &:hover {
        object-fit: cover;
    }
}
.recommendedCardText {
    color: #0A3641;
    text-decoration: none;
    border-top: 5px solid #0A3641;
}

/*Checkout page, also knows as Shopping cart, shopping basket...*/
.checkoutcontainer {
    min-height: 800px;
}
.checkoutcontainer {
    margin-left: 60px;
    margin-right: 60px;
    color: #0A3641;
}

.checkoutcontainer h1 {
    font-size: 45px;
}

#basketContainer .basket-items {
    list-style-type: none;
    margin-bottom: 120px;
    width: 100%;
}

.basketcontainer-looks-div {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    justify-content: center;
    padding-right: 10px;
}

.remove-quantity {
    width: 75px;
}

.TP {
    font-weight: bold;
    font-size: 25px;
}

.basket-items {
    display: inline-flex;
    flex-direction: column;
    gap: 30px;
}

.basketcontainer-looks-div span {
    font-weight: bold;
}

.basket-row {
    display: inline-flex;
    background-color: white;
    padding: 5px;
    border: 3px solid #0A3641;
    border-radius: 5px;
    width: 650px;
    height: 300px;
}

.basket-image-item img {
    width: 250px;
    height: 300px;
    object-fit: contain;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.basketcontainer-looks-div .buttons-checkout {
    margin-top: 15px;
}

.basket-title {
    font-size: 25px;
    margin-bottom: 10px;
}

.basket-item-price {
    margin-top: 25px;
}

.basketcontainer-looks-div .buttons-checkout .quantity-input{
    padding: 5px;
}

.basketcontainer-looks-div .buttons-checkout .remove-btn {
    border: 2px solid #0A3641;
    border-radius: 5px;
    padding: 2.5px;
    padding-left: 5px;
    padding-right: 5px;
    background-image: url(/pictures/buttontexture.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.cart-controll-buttons {
    margin-bottom: 120px;
}

.emptybasket {
    font-size: 20px
}

/*Error page*/
.error-section {
    height: 900px;
}

.error-section h1 {
    font-size: 90px;
    display: flex;
    justify-content: center;
    color: #0A3641;
}

.error-section p {
    display: flex;
    justify-content: center; 
    color: #0A3641;
    font-size: 20px;
}
.go-back-button-error {
    margin-left: 60px;
    margin-top: 20px;
    list-style-type: none;
    background-color: #3D626B;
    width: 170px;
    height: 20px;
    padding: 5px;
    border-radius: 3px;

    &:hover {
        background-color: #0A3641;
        font-weight: bold;
    }
}
.go-back-button-error a {
    color: white;
    list-style-type: none;
}

/*Chceckout Confirmation page*/
.checkoutcontainer-confirmation {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: #0A3641;
    height: 700px;
    margin-top: 250px;
}

.checkoutcontainer-confirmation h1 {
    font-size: 50px;
}

.checkoutcontainer-confirmation p {
    font-size: 20px;
}
.checkoutcontainer-confirmation p span {
    font-weight: bold;
}
.continue-shopping {
    background-color: #3D626B;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    &:hover {
        background-color: #0A3641;
        scale: 1.2;
    }
}
.continue-shopping a {
    color: white;
    text-decoration: none;
}












/*Footer, all pages*/
footer {
    background-color: #0A3641;
    width: 100%;
    height: 100%;
    display: block;
    bottom: 0;
    left: 0px;
}

.footertext {
    padding-top: 50px;
}

.newsletter {
    color: white;
    margin-left: 220px;
    display: inline-flex;
    flex-direction: column;
    max-width: 450px;
    margin-bottom: 0px;
}

.newsletter p {
    font-size: 22px;
    width: 450px;
}

.newsletteremail {
    display: inline-flex;
    align-items: center;
}

.newsletteremail p {
    padding: 5px;
    margin-left: 10px;
    width: 100%;
    min-width: 320px;
    display: flex;
    align-items: center;
    color: #424D50;
}

.newsletteremail span {
    background-color: #E0E6E7;
    color: #707373;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletteremail {
    background-color: #859BA0;
    height: 50px;
    width: 450px;
}

.cs-au {
    display: inline-flex;
    gap: 150px;
    float: right;
    margin-bottom: 25px;
}

.au {
    margin-right: 220px;
}

.au a {
    color: white;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
}

.cs a {
    color: white;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
}

.cs h4, .au h4 {
    opacity: 75%;
}

footer .footerlogo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

footer .footerlogo img {
    height: 160px;
    width: auto;
    opacity: 75%;
}

.termsofuse {
    display: inline-flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.termsofuse p {
    font-size: 15px;
    opacity: 75%;
}

footer input[type="checkbox"] {
    width: 25px;
    height: 25px;
    opacity: 50%;
}

footer input[type="checkbox"]:hover {
    opacity: 100%;
}

footer input[type="checkbox"]:checked {
    opacity: 100%;
}

footer input[type="checkbox"]:checked~.termsofuse p {
    opacity: 100%;
}